---
import Layout from '@/layouts/Layout.astro';
import links from '@/content/lists/links.json';
---

<Layout title="Route">
    <h2>Links</h2>
    
    <a href="/img/toine_stage_big.jpg" title="Rechts, Toine Rooimans"  class="fancyBoxPhoto" rel="mediaPhotos"><img class="left" src="/img/toine_stage.jpg" alt="Toine Rooimans" /></a>

    <p class="inleiding">Hieronder staan een aantal links naar andere websites.</p>

    <dl>
        {
        links.map(({id, name, beschrijving, url, date}) => (                
                <dt id={id}>
                    <a href={url} title=`geplaats op: {date}` target="_blank">{name}</a>
                </dt>

                <dd>{beschrijving}</dd>
            ))
        }
    </dl>
</Layout>

<style>

</style>