---
import { getCollection } from 'astro:content';
const booksData = await getCollection('books');
---

<table class="design" cellspacing="0" id="results">
    <thead>
        <tr>
            <th>Cover</th>
            <th>Auteur(s)</th>
            <th>Titel</th>
            <th>Taal</th>
            <th>Jaar</th>
        </tr>
    </thead>
    <tbody>
        {
        booksData.map(({ data: { auteur, titel, jaar, taal, omschrijving, img, isbn, homepage } }) => (
                <tr>
                    <td><img src=`/img/boeken/${img}` alt={titel} width="50" loading="lazy"></td>
                    <td><strong>{auteur}</strong></td>
                    <td>{titel}</td>        				
                    <td>{taal}</td>
                    <td>{jaar}</td>
                </tr>   
            ))
        }
    </tbody>
</table>