---
import books from '@/content/lists/books.json';
---

<table class="design" cellspacing="0" id="results">
    <thead>
        <tr>
            <th>Cover</th>
            <th>Auteur(s)</th>
            <th>Titel</th>
            <th>Taal</th>
            <th>Jaar</th>
        </tr>
    </thead>
    <tbody>
        {
        books.map(({id, auteur, titel, uitgever, jaar, taal, omschrijving, img, isbn, homepage}) => (
                <tr>
                    <td>
                        <a href=`/boek/[seo_titel]/auteur/[seo_auteur]/nr${id}` title=`Uitgever: ${uitgever}`>
                            <img src=`/img/boeken/${img}` alt={titel} width="50" />
                        </a>
                    </td>
                    <td><a href="/zoek-auteur/[auteur]#booklist" title="Zoek meer van deze auteur">{auteur}</a></td>
                    <td><a href="/boek/[seo_titel]/auteur/[seo_auteur]/nr[id]" title="Uitgever: {uitgever}">{titel}</a></td>        				
                    <td>{taal}</td>
                    <td>{jaar}</td>
                </tr>   
            ))
        }
    </tbody>
</table>