---
import { getCollection } from 'astro:content';
import { nlDate } from "@/helpers/nl-date.js";

const linksData = await getCollection('links');
---
<dl>
    {
    linksData.map(({ data: {id, name, beschrijving, url, date}}) => (
            <dt id={id}>
                <a href={url} title={`Geplaatst op: ${nlDate(date)}`} target="_blank">{name}</a>
            </dt>

            <dd>{beschrijving}</dd>
        ))
    }
</dl>