---
import { getCollection } from "astro:content";
import { nlDate } from "@/helpers/nl-date.js";

const stagesData = await getCollection("stages");
---

<table class="design" cellspacing="0">
    <thead>
        <tr>
            <th>Docent</th>
            <th>Locatie</th>
            <th>Datum</th>
        </tr>
    </thead>
    <tbody>
        {
            stagesData.map(({ data: { docent, locatie, tijd, date, organisatie, bijzonderheden } }) => (
                <tr>
                    <td>
                        <strong>{docent}</strong> ({bijzonderheden}, {organisatie})
                    </td>
                    <td>{locatie}</td>
                    <td>
                        <time datetime={date}>
                            {nlDate(date)} {tijd}
                        </time>
                    </td>
                </tr>
            ))
        }
    </tbody>
</table>
