---
import stages from '@/content/lists/stages.json';
import { nlDate } from "@/helpers/nl-date.js";
---
<table class="design" cellspacing="0">
    <thead>
        <tr>
            <th>Docent</th>
            <th>Locatie</th>
            <th>Datum</th>
        </tr>	
    </thead>
    <tbody>
    {
        stages.map(({docent, locatie, tijd, date, organisatie, bijzonderheden}) => (
                <tr>
                    <td><strong>{docent}</strong> ({bijzonderheden}, {organisatie})</td>
                    <td>{locatie}</td>			
                    <td><time datetime={date}>{nlDate(date)} {tijd}</time></td>
                </tr>
            ))
    }
    </tbody>
</table>